In [1]:
import pandas as pd

In [3]:
pd.read_csv("/Users/hellothere/choi/07.study/dsschool/01.data/bike/train.csv").head(1)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16

In [4]:
pd.read_csv("/Users/hellothere/choi/07.study/dsschool/01.data/bike/test.csv").head(1)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027