In [1]:
import pandas as pd

In [3]:
1+1

2

In [4]:
7-4

3

In [6]:
# 주석 테스트 
3 * 4

12

In [10]:
1 +  2 == 3

True

In [17]:
a = 10 % 2 == 0
a

True

## variable

In [18]:
a = 3
b = 5
a + b

8

In [19]:
a= 2
a= a+3

In [20]:
a

5

In [21]:
"hello world "

'hello world '

In [23]:
print("hello world")

hello world

In [25]:
"1" + "3"

'13'

## formatting

In [30]:
bananas = 3
days = 5 
times = "hey"
"shayne ate {0} bananas for {1} days. {2}".format(bananas, days,times)

'shayne ate 3 bananas for 5 days. hey'

In [31]:
bananas = 3
days = 5 
times = "hey"
f"shayne ate {bananas} bananas for {days} days. {times}"

'shayne ate 3 bananas for 5 days. hey'

In [36]:
model_a = 0.12456789
model_b = 0.987654321

f"[Accuracy]  A={model_a:.3f} B ={model_b:.5f}"

'[Accuracy]  A=0.125 B =0.98765'

## String

In [40]:
message = "Hello World!"

In [44]:
print(message[0])
print(message[-1])

H
!

In [46]:
print(message[0:4])

Hell

In [52]:
## String 포함여부 
print("Hello" in message )

True

In [54]:
message.lower()

'hello world!'

## List

In [56]:
odd = [1,3,5,7,9]

In [60]:
print(odd)
print(odd[-1])
print(odd[0:2])
print(1 in odd)

[1, 3, 5, 7, 9]
9
[1, 3]
True

In [61]:
odd.append(11)

In [62]:
print(odd)

[1, 3, 5, 7, 9, 11]

In [67]:
odd = odd + [13 , 15, 17]

In [68]:
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [69]:
odd[3]  = -1
odd[5]  = -1

In [70]:
print(odd)

[1, 3, 5, -1, 9, -1, 13, 15, 17]

In [71]:
message = "Hello world!"
list = message.split(" ")
print(list)

['Hello', 'world!']

In [73]:
words = ["Hello","world"]
" ".join(words)

'Hello world'

## 제어

In [79]:
age = 3 
if age < 5:
    print("child")
else:
    print("man")

child

In [82]:
age = 10
if age < 5 :
    print("아이")
elif age < 18 : 
    print("학생")
else:
    print("어른")

학생

## 반복문

In [83]:
basket = ["apple" , "banana" , "chicken" , "pineapple", "chery"]
for a in basket :
    print(a)

apple
banana
chicken
pineapple
chery

In [85]:
for i in range(5):
    print(i)

for i in range(5):
    print(basket[i])

0
1
2
3
4
apple
banana
chicken
pineapple
chery

In [93]:
for i in range(1,11):
    
    if i == 2:
        continue
    if i == 5:
        #print("test")
        break
    print(i)

1
3
4

In [102]:
list = []

for i in range (1,11):
    if i == 5:
        continue
    if i == 8:
        break
    double = i * 2
    #print(double)
    list.append(double)
    


print(list)

[2, 4, 6, 8, 12, 14]

## Function

In [107]:
# define 
def multiply( a, b ) :
    c = a *  b 
    return(c)
def plus(a,b):
    return(a+b)

print(multiply(3,4))
print(plus(4,5))

12
9

In [124]:
def sign(n) : 
    if n > 0:
        return("양수")
    elif n < 0:
        return("음수")
            
    else :
        return(0)

#print(sign(10))
#print(sign(-10))

for i in [-1,0,1]:
    print(sign(i) )

음수
0
양수